@import "tailwindcss";

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
* {
  font-family: 'Nunito Sans', sans-serif;
}

@theme {
  --color-primary-1: #496c60;
  --color-primary-2: #d1e7dd;
}
